<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]  - GP2</title>
    <link href="~/lib/bootstrap/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar-brand navbar-expand-md text-black mb-md-2">
            <a class="btn btn-success" asp-controller="Home" asp-action="Index">Home</a>
            <a class="btn btn-success" asp-controller="Home" asp-action="SignUp">Sign Up</a>
            <a class="btn btn-success" asp-controller="Home" asp-action="Appointments">Appointments</a>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>

    <figure class="text-center">
        <blockquote class="blockquote">
            <h3>"...Always have the temple in your sights. Do nothing which will keep you from entering its doors and partaking of the sacred and eternal blessings there."</h3>
        </blockquote>
        <figcaption class="blockquote-footer">
            <cite title="Source Title">President Thomas S. Monson</cite>
        </figcaption>
    </figure>

</body>
   
</html>
