@{
    ViewData["Title"] = "My Tour Appointment";
}

@model GP2.Models.AppointmentResponse;

<h1>@ViewData["Title"]</h1>
<p>Fill out your temple tour!</p>

<div>
    <form method="post">



        <label asp-for="Name">Name of Group:</label>
        <input asp-for="Name" /><br /><br />

        <label asp-for="Size">Size of Group (1-15):</label>
        <input asp-for="Size" /><br /><br />

        <label asp-for="Email"> Email (example@example.com):</label>
        <input asp-for="Email" /><br /><br />

        <label asp-for="PhoneNumber">Phone Number (000-000-0000):</label>
        <input asp-for="PhoneNumber" /><br /><br />

        <div asp-validation-summary="All"></div>

        <label asp-for="Date">Date</label>
        <input asp-for="Date" disabled value="@ViewBag.CurrentDate" /><br />
        <label asp-for="Time">Time</label>
        <input asp-for="Time" disabled value="@ViewBag.scheduleTime" /><br />

        <button type="submit">Submit Appointment</button>

        @if (ViewBag.New == false)
        {
            <input type="hidden" asp-for="AppointmentId" />
        }
    </form>
</div>