@{
    ViewData["Title"] = "My Tour Appointment";
}

@model GP2.Models.AppointmentResponse;
<link href="~/css/site.css" rel="stylesheet" />
<h1>@ViewData["Title"]</h1>
<p>Fill out your temple tour!</p>
@* We tried creating another view file to edit the time, but does not update the data. So we ended up letting users 
    manually delete the apppointment and create a new one. However, the "Form.cshtml" does the CRUD function for everything but the time.*@
<h4>* If you would like to change the appointment time, please delete the current schedule and create a new one!</h4>
<div>
    <form method="post">

        <label asp-for="Date">Date</label>
        <input asp-for="Date" disabled value="@ViewBag.CurrentDate" /><br />
        <label asp-for="Time">Time</label>
        <input asp-for="Time" disabled value="@ViewBag.scheduledTime" /><br /><br />

        <label asp-for="Name">Name of Group:</label>
        <input asp-for="Name" /><br /><br />

        <label asp-for="Size">Size of Group (1-15):</label>
        <input asp-for="Size" min="1" max="15" /><br /><br />

        <label asp-for="Email"> Email (example@example.com):</label>
        <input asp-for="Email" /><br /><br />

        <label asp-for="PhoneNumber">Phone Number (000-000-0000):</label>
        <input asp-for="PhoneNumber" /><br /><br />

        <div asp-validation-summary="All"></div>


        <button type="submit">Submit Appointment</button>
    </form>
</div>