
@{
    ViewData["Title"] = "Home Page";
}

<img width="300" height="325" src="~/img/LaytonTemple.jpg" />


<div>
    <h1> Layton Utah Temple </h1>
    <p style="text-align">
        We can only add a limited number of tours at this time. They will be removing the visitors center soon so that they can complete the landscaping. When the trailer is gone, we anticipate being able to talk to groups on the lawn of the church across the street or at the Morgan's backyard. We are trying to facilitate as many groups as possible, so please only sign-up when you can commit to coming on the selected date and time. We have a lot of last minute cancelations.
    </p>

</div>
